@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*GLOBAL*/
* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    /*background-image: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);*/

    /* 
    Retirado, pois, como 68.15deg, ele começa em baixo e devido ao tamanho do body (seja ele 100% ou 100vh), dá incompatibilidade, ou seja:

    100% -> Fica uma parte (em baixo) em branco
    100vh -> Quando diminuimos o tamanho da tela, o background-image se repete no eixo Y
    */
    /* CORRIGIR DEPOIS. Pode ser com @media */

    background-image: linear-gradient(to right, #2F2325 16.62%, #8E5D52 85.61%);
    
    
    
    
    margin: auto;
    height: 100vh;
    width: 100%;
}



/**********************************************************************/

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    
}

header > h1.titulo-header {
    padding: 0;
    margin: auto 30px;
    
    color: rgb(218, 214, 214);
    font-family: Lobster;
    font-weight: 100;
    font-size: 48px;
   
}

header > nav {
    margin: auto 30px;

    
}

header > nav > a {
    
    color: rgb(218, 214, 214);
    margin: 10px;
    background-color: #8a8888;
    padding: 10px;

}

header > nav > a:hover {
    text-decoration: underline;
    box-shadow: 2px 2px 10px black;
    color: white;
}
/********************************************************************************/

hr {
    box-shadow: 1px 1px 10px black;
}

/* MAIN */
main {
    height: 84vh;
}
div.conteudo-principal {
    text-align: center;

}

.conteudo-principal img {
    max-height: 430px;
    height: 100vw;
}


div.conteudo-secundario {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;

}

hr.divisao-pequena {
    margin: 16px 0px;
    width: 300px;
    align-self: center;
    
    
}

p {
    text-align: center;

}

ul {
    margin: 50px auto 0px auto;
    text-align: justify;
}
/********************************************************************************/

/* FOOTER */



/* GERAL */
nav > a:hover {
    text-decoration: underline;
    box-shadow: 2px 2px 10px black;
}