@media screen and (max-width: 700px){
    .navbar {
        display: none;
    }

    header {
        justify-content: center;
    }
    header .logo{
        font-size: 47px;
    }

    main .inicio {
        text-align: center;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .inicio div.left {
        width: auto;
    }
    .inicio .contrate-agora {
        margin: auto;
        width: 180px;
        border-radius: 10px;
    }
    .inicio div.right{
        display: flex;
    }
    .inicio div.right img {
        margin: auto;
        justify-self: center;
        width: 35vh;
        max-width: 240px;
        
    }
}

@media screen and (max-height: 610px) {
    header {
        height: 70px;
    }

    main {
        margin-top: 70px;
    }

    .inicio {
        height: auto;
    }
    
}