* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    background-image: url(../assets/images/fundo-madeira.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* DIV IPHONE */
.iphone {
    display: flex;
    background-image: url(../assets/images/frame-iphone.png);
    margin: auto auto;
    height: 630px;
    width: 313px;
}

.iphone > .tela {
    margin: auto auto;
    background-color: rgba(35, 80, 119, 0.507);
    
    
    height: 76.3%;
    width: 86%;
}
/***************FIM DIV IPHONE*******************/

/*DIV REDES SOCIAIS*/
div.redes-sociais {
    position: absolute; /* Deixa o elemento "uma camada acima". Podendo a outra div passar por baixo. OU SEJA, tira o elemento do fluxo e uma camada acima*/
    /* Como o elemento foi tirado do fluxo, ele fica em cima na esquerda (left: 0 e top: 0). Então configuro aonde quero, com right: 0; e top: 0; <- esse nem precisava */
    /* PODERIA, TAMBÉM, TIRAR DO FLUXO O IPHONE. Talvez mais coerente. */
    right: 0; 
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
}

div.redes-sociais > nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

img.img-redes-sociais {
    height: 6vh;
    border-radius: 50%; /* Adquire formato arrendondado */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
}
img.img-redes-sociais:hover {
    box-shadow: 1px 1px 10px black;
    transform: translate(-3px, -3px); /* Mexe nas redes sociais deslocando ele quando passar o mouse por cima (hover) */
    transition-duration: 0.1s; /* A passagem do transform acima dura 0.1s */
    /*PODE USAR, TAMBÉM: transition: [item][segundos], [item][segundos], [item][segundos] ...;*/
    /*Por exemplo: transition: transform 0.1s, box shadow 0.3s*/
    /* Quando coloca transition-duration, parece-me que é uma duração universal para todos os itens */
    
    
}
/******************** FIM DIV REDES SOCIAIS ********************/